@model IEnumerable<QAForum.ViewModels.ForumViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Welcome to the Forums</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfThreads)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfThreads)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ForumId  }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ForumId  }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ForumId  })
            </td>
        </tr>
}
    </tbody>
</table>
